.header {
  background-color: $bg-black;
  max-height: $header-ui-height;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  padding-left: 3%;
  position: sticky;
  top: 0;
  transition: all .3s ease 0;
  margin: 0;
  z-index: 100;
  font-size: 16px;
  
  &__floating {
    // position: fixed;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 80%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 3px 10px #555;
    max-height: 50px;
    opacity: .95;
    transition: transform .5s ease-out;
  
    &--logged-out {
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 2px 7px rgba(0, 0, 0, .6);
      height: 3rem;
      transition: transform .5s ease-in-out;

    }
  }
  &__link {
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease 0s;
    
    &:hover {
      color: #3093b4;
      // text-shadow: 0 0 2px rgba(0, 0, 0, .4);
    }
    
    &--logged-in {
      font-weight: 500;
      color: #edf0f1;
      
      &:hover {
        text-shadow: 0 4px 4px rgba(0, 0, 0, .8);
      }
    }  
  }
  
  &__hidden {
    transform: translateY(- 60px);
  }
  
  &--logged-out {
    background-color: white;
    color: #333;
  }

  &__navbar__list {
    list-style: none;
    display: flex;

    &__item {
      margin-right: 2rem;
      position: relative;
    }
  }

  &__logo {
    cursor: pointer;
    width: 130px;
    margin-right: auto;
  
    &__img {
      max-width: 100%;
    }
  }


  @include md {
    font-size: 13px;
    max-height: 50px;
  }
}

