$dropshie-primary: #007F7F;
$dropshie-secondary:#272725;
$primary: #2AB4B2;
$bg-black: #333;
$grey: #787878;
$bootstrap-link: #007bff; 

// secondary colors
$fall-back-color: #cccccc;

// shadows
$shadow-d1: 0px 2px 4px rgba(0, 0, 0, .6);
$shadow-d2: 0px 1px 8px rgba(0, 0, 0, .6);
