* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

// check maybe deprecated
.layout__container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$header-ui-height} - #{$footer-ui-height});
  flex-grow: 1;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  color: $font-primary-l1;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

.py1 {
  padding: 10px;
}

.py2 {
  padding: 20px;
}

.btn_Sass {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: all .2s ease 0s;

  &:hover {
    background-color: rgba(0, 136, 169, .8);
  }
}

.active {
  color: $primary !important;
}

.global {

  &__link {
    color: $bootstrap-link !important;
    text-decoration: none;
  }
}

.font-primary-l1 {
  color: $font-primary-l1;
}

//
.tooltip-plan {
  font-weight: bold;
  fill:#333;
  transform: scale(0.8, 0.8);
}

li {
  margin: 0;
}


// to remove the annoying tooltip when select text 
.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#goog-gt-tt, .goog-te-balloon-frame{
  display: none !important;
} 
.goog-text-highlight { 
  background: none !important;
  box-shadow: none !important;
}

#google_translate_element {
  display:none;
}

// to prevent selection
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}