$font-primary: #333;
$font-primary-l1: #444;
$font-primary-l2: #666;

// sizes
$title: 2.5rem;

// landing title
$landing-title-family: 'Archivo Narrow', sans-serif; 
$landing-title-color: rgb(134, 134, 134);

* {
  font-family: Montserrat, sans-serif;  
}