.landing-services {
  &__title {
    font-family: $landing-title-family;
    color: $primary;
    color: $landing-title-color;
    text-align: center;
    // font-weight: bold;
    font-size: $title;
    padding: .5rem;
    margin-bottom: 3.5rem;
    margin-top: 1rem;

    @include md {
      font-size: 3rem;
    }

    @include sm {
      font-size: 2rem;
    }
  }

  &__body {
    // margin: 0 auto;
    // padding: 3rem;
    // margin-top: 50px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}