.landing-header {


  @include sm {
  }

  &__hero {
    position: relative;
    background-image: url('../../../assets/images/banner.png');
    overflow: visible;
    background-color: $fall-back-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh);

    @include sm {
      background-image: url('../../../assets/images/bannerfb2.png');
    }
  }

  &__trans-logo-container {
    position: absolute;
    bottom: 20%;
    right: 20px;
    width: 250px;

    @include md {
      width: 200px;
    }

    @include sm {
      width: 150px;
      display: none;
    }

    &__img {
      width: 100%
    }
  }


  &__navbar {
    // position: sticky;
    // top: 0;
    display: flex;
    height: 3.5rem;
    background: white;
    align-items: center;
    justify-content: space-around;
    z-index: $above-all;
    
    &__floating {
      position: sticky;
      top: 0;
      box-shadow: 0 2px 7px rgba(0, 0, 0, .6);
      height: 3rem;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    font-size: 1rem;
    align-items: center;
  }

  &__list-item {
    position: relative;
    padding: 5px;
    cursor: pointer;

    // @include active;
  }

  &--item-1 {
    // font-size: 30px;
  }

  &__logo {
    width: 150px;
    margin-right: 1rem;

    &__img {
      // display: block;
      width: 100%;
    }
  }
}

// .active {
//   @include active(25px);
// }

.test {

  .transition {
    font-weight: 600;
    transition: all .3s ease 0s;
  }

  &:hover .transition {
    color: $dropshie-primary;
    // font-weight: 700;
    // text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }
    
  // &:hover::first-letter {
  //   color: $dropshie-primary;
  //   text-shadow: 0 4px 4px rgba(0, 0, 0, .8);
  // }
}

