.register {

  &__container {
    flex-grow: 1;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: flex-start;
  }

  &__form-container {
    width: 80%;
  }

  &__terms {

    &__container {
      font-size: .8rem;
    }

    &__link {
      text-decoration: none;
      color: $bootstrap-link;
    }
  }

  &__span {
    color: $primary;
    font-weight: 500;
    // line-height: 2;
    // font-stretch: ultra-condensed;

  }
}

