.pricing-plans {
  margin-top: 6rem;

  &__title {
    text-align: center;
    color: $primary;
  }

  &__hero {
    width: 80%;
    height: 150px;
    background: #eee;
    color: $primary;
    margin: 0 auto;
    margin-top: 4rem;

    @include flex-center;

    &__title {
      text-align: center;
      width: 80%;

      & > span {
        padding: 10px;
        text-align: center;
        display: block;
        color: grey;
        font-size: 1.3rem;

        @include md {
          font-size: 1rem;
        }
      }
    }

    @include md {
      width: 400px;
    }
  }

  &__bar {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;

    &__title {
      margin-top: 30px;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;
    }
  }
}

.subscription {
  margin-top: 30px;
  text-align: center;

  &__title {
    text-align: center;
    color: $primary;

    & > span {
      color: #555;
      line-height: 2rem;
    }
  }

  &__button {
    color: white;
    text-decoration: none;

    &--container {
      margin-top: 30px;
      background: $primary;

      &:hover {
        background-color: $primary;
      }
    }
  }
}