.how-it-works {

  margin-top: 6rem;
  background: #333;
  color: #ddd;

  @include md {
  }

  &__title {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0;
    text-align: center;
    padding: 1.5rem;
    padding-top: 3rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    align-self: center;
    // height: 100%;
  }

  &__iframe {
    width: 80%;
    height: 641px;
    
    @include lg {
      height: 450px;
      width: 90%;
    }

    @include md {
      height: 300px;
      width: 500px;
    }

  }


}