.landing-supliers {

  &__title {
    margin-top: 150px;
    font-family: $landing-title-family;
    font-size: $title;
    text-align: center;
    font-weight: 400;
    // color: $primary;
    color: $landing-title-color;

    &__span {
      margin-top: 30px;
      display: block;
      font-size: .8rem;
      font-weight: 400;
      font-style: italic;
      font-stretch: condensed;
      color: #888;
    }
  }
}

.container-svg {
  border: 1px solid black;
  display: inline-block;
  // height: 90px;
}


