.footer {
  background-color: $bg-black;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  font-size: 14px;

  &__list {
    list-style: none;
    display: flex;

    &-item {
      margin: 10px;
    }
  }

  @include md {
    font-size: 12px;
  }

}