$bullet: 7px;

.services-card {

  &__container {
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    color: #ddd;
    flex-direction: column;
    align-items: center;
    box-shadow: $shadow-d2;
    // text-align: center;
    // background-color: rgba(22, 24, 24, 0.719);
    background-color: #262624;
    padding: 70px 30px;
    width: 400px;

    @include lg {
      width: 70%;
      // color: red;
    }

    @include md {
      width: 90%;
    }

  }

  &__title {
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
  }

  &__body {
    display: flex;
    justify-content: center;

    &__list {
        list-style: none;
        // padding: 0 auto;

      &__item {
        position: relative;
        padding: 5px 20px;
        line-height: 1.2rem;

        &::before {
          // background-color: black;
          // background-color: #ddd;
          background: $dropshie-primary;
          content: '';
          display: block;
          position: absolute;
          height: $bullet;
          width: $bullet;
          border-radius: 50%;
          top: 10px;
          left: -2px;
        }
      }
    }
  }
}