.auth {
  
  &__button-container {
    display: flex;
    align-items: center;
  }


  &__login-btn,
  &__reg-btn {
    cursor: pointer;
    text-decoration: none;
    transition: all .6s ease 0s;
    
    &:hover {
      color: $primary;
      text-shadow: 0 4px 4px rgba(0, 0, 0, .8);
    }


    &--logged-out {
      color: #333;
      transition-duration: .2s;

      &:hover {
        // font-weight: bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
      }
    }

    &--logged {
      font-weight: 500;
      color: #edf0f1;

    }

    &--loading {
      font-weight: bold;
    }

  }

  &__login-btn {
    margin-left: 15px;
  }

  &__reg-btn {
    margin-right: 5px;
  }

  &__title {

  }

  &__image-container {

  }
}
