.landing-logos {

  &__container {
    display: flex;
    align-items: baseline;
    padding: 0 50px;
    margin-top: 4rem;
  }

  &__title {
    margin-left: 10px;
    color: $primary;
  }

  &__flag {
    margin-top: 30px;
    width: 40px;
  }

  &__svg-container {
    padding: 0 30px;
    max-width: 80%;
    margin: 0 auto;
    // border: 2px dashed tomato;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &--style {
      width: 250px;
      padding: 10px;
      display: flex;
      align-items: center;

      ~ .homedepot,
      ~ .target {
        width: 120px;
      }

      @include md {
        width: 200px;

        ~ .homedepot,
        ~ .target {
          width: 80px;
        }
      }
    }
  }
}


