.login-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .form-element {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  .form-title {
    margin-left: 20px;
  }
}

// TODO: change the classname
.btn-back {
  margin-right: 10px;
}

.login {
  &__label {
    flex: 1;
    margin-right: 50px;
  }

  &__input {
    width: 300px;
    padding: 5px;
    font-size: 14px;
  }
}