@mixin active($offset-from-top) {

  &::before {
    content: '';
    position: absolute;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 2px;
    display: block;
    opacity: .7;
    // height: 1px;
    width: 110%;
    top: $offset-from-top; 
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px solid red;
}