.landing__footer {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  background: #333;
  height: 80px;
  padding: 10px 10px;

  @include md {
    height: 60px;
  }

  &__copywrite {
    align-self: flex-end;
    font-size: .7rem;
    color: #ddd;
    width: calc(100% / 3);
    // @include border;
  }

  
  
  &__terms {
    
    &__container {
      width: 150px;
      align-self: flex-end;
      width: calc(100% / 3);
      text-align: end;
    }
    
    padding-right: 2%;
    font-size: .8rem;
    text-decoration: none;
    color: #ddd;
    transition: all .2s ease;
    // @include border;
    
    
    &:hover {
      color: $bootstrap-link;
    }
  }
  
  &__social {
    // @include border;
    width: calc(100% / 3);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &--instagram,
    &--facebook,
    &--youtube {
      position: relative;
      text-decoration: none;
    }
    
    &__logo {
      margin: 0 5px;
      font-size: 14px;
      position: absolute;
      left: calc(50% - 14px);
      
      &:hover {
        filter: drop-shadow( 1px 1px .6px rgba(0, 0, 0, .5));
      }

      &--instagram {
        top: -20px;
      }

      &--youtube {
        top: -21px;
      }

      &--facebook {
        top: -20px;
        left: calc(50% - 12px);
      }
    }

    &--facebook,
    &--youtube,
    &--instagram {
      font-size: .8rem;
      margin: 0 5px;
      color: #ddd;
      
      @include md {
        font-size: .7rem;
      }
      
      & span {
        transition: all .3s ease;
      }
    }
    
    &--facebook {
      &:hover {
        & span {
          color: dodgerblue;
        }
      }
    }
    
    &--youtube {   
      &:hover {
        & span {
          color: tomato;
        }
      }
    }
    
    &--instagram {
      &:hover {
        & span {
          color: #FDFEAA;
        }
      }
    }
  }
}