.terms {
  line-height: 1rem;
  margin: 0 auto; 

  @include xl {
    max-width: 60%;
  }

  @include lg {
    font-size: .8rem;
    max-width: 70%;
  }

  @include md {
  font-size: .8rem;
   max-width: 80%;
  }

  & > h4 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  & > p {
    padding-bottom: 15px;
  }
}