.partners {
  margin-top: 130px;

  &__title {
    font-size: 2.4rem;
    text-align: center;
    color: $primary;
  }

  &__svg {

    &--lettopia {
      display: block;
      margin: 0 auto;
      width: 260px;
    }
  }

  &__logo {

    &__container {
      display: block;
      margin: 0 auto;      
      margin-top: 70px;
      width: 200px;
    }

    &--drop-source {
      width: 100%;
    }
  }
}